.idea/
.pnpm-store/

backend/bin/
backend/.gradle/
backend/build/
backend/src/main/resources/static/

frontend/node/
frontend/node_modules/
frontend/.vite

specs/.features-gen
specs/coverage/
specs/node_modules/
specs/playwright-report/
specs/test-results

site/coverage/
site/docs/screenshots/
site/docs/*.html
